# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# next.js
/client/.next/
/client/out/
/.next/
/.out/

# production
/client/build

# misc
/client/.DS_Store
*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# local env files
.env.local
/server/.env

# vercel
/client/.vercel

# typescript
*.tsbuildinfo
/client/next-env.d.ts



/server/.env
/server/node_modules


/client/.next



node_modules
