@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    color: #000000;
    background-color: #ffffff;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Georgia, Times, serif;
}

@media (max-width: breakpoint-xs) {
    body {
        margin-top: 80px;
    }
}


.nav-menu-wrapper{
  position: relative;
  left:12%;
}

.menu-icons{
  position: relative;
  left:20%
}

.banner{
  height: 80vh;
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
}

.banner-desc{
  position: relative;
  top: 40%;
  left: 14%;
}

.abt{
  height: 80vh;
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/abt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 10%;
}

.abt-desc{
  position: relative;
  top: 40%;
  left: 14%;
  color: #ffffff;
}

.serv{
  height: 80vh;
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/tailor.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-position-x: 40%;
}

.collection{
  height: 40vh;
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/collection.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-position-x: 40%;
}

.deals{
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/deals.jpg) !important;
}

#accessories{
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/accesories.jpg);
}

#beads{
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/bead1.jpg),
  url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/bead1.jpg) !important;
}

#stones{
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/bead2.jpg),
  url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/bead2.jpg) !important;
}

#belts{
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/belts/gen.jpg) !important;
}

#caps{
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/faq.jpg);
}
#corporate{
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/corporatewears/cw-1.jpg);
}

#footwears{
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/shoe.jpg) !important;
}

#tees{
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/tees/gen.jpg) !important;
}

#store{
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/store.jpg) !important;
}

#shirts{
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/summer.jpg) !important;
}

#summer{
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/summer/gen.jpg) !important;
}

#trad{
  background-image: url(https://res.cloudinary.com/dymd1jkbl/image/upload/v1691953768/srl/general/trad.jpg);
}

.line{
  text-decoration: underline;
}

.consult{
  position: relative;
  left:7%;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }



.brands-area {
  position: relative;
  z-index: 1;
  background-color: #f5f7f9;
  padding: 100px 5%; }
  @media only screen and (max-width: 767px) {
    .brands-area {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 100px 5% 70px; } }
  @media only screen and (max-width: 767px) {
    .brands-area .single-brands-logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      width: 33.33333%;
      max-width: 33.33333%; } }
  .brands-area .single-brands-logo img {
    max-width: 120px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .brands-area .single-brands-logo img {
        max-width: 90px; } }
    @media only screen and (max-width: 767px) {
      .brands-area .single-brands-logo img {
        max-width: 80px;
        margin-bottom: 30px; } }


.footer_area {
  position: relative;
  z-index: 1;
  background-color: #352208;
  padding: 70px 0 60px; }
  .footer_area .single_widget_area .footer_menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer_area .single_widget_area .footer_menu ul li a {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6);
      display: block;
      font-weight: 400;
      font-family: "Ubuntu", sans-serif;
      padding: 0 10px;
      text-transform: capitalize; }
      .footer_area .single_widget_area .footer_menu ul li a:hover, .footer_area .single_widget_area .footer_menu ul li a:focus {
        color: #ffffff; }
  .footer_area .single_widget_area .footer_widget_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer_area .single_widget_area .footer_widget_menu li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 50%; }
      .footer_area .single_widget_area .footer_widget_menu li a {
        display: block;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
        display: block;
        font-weight: 400;
        margin-bottom: 10px; }
        .footer_area .single_widget_area .footer_widget_menu li a:hover, .footer_area .single_widget_area .footer_widget_menu li a:focus {
          color: #ffffff; }
  .footer_area .single_widget_area .footer_heading h6 {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0; }
  .footer_area .single_widget_area .mailing_form form {
    position: relative;
    z-index: 1;
    width: 270px; }
    @media only screen and (max-width: 767px) {
      .footer_area .single_widget_area .mailing_form form {
        margin-bottom: 50px; } }
    .footer_area .single_widget_area .mailing_form form input {
      width: 100%;
      border: none;
      border-bottom: 2px solid rgba(255, 255, 255, 0.6);
      color: rgba(255, 255, 255, 0.6);
      font-size: 12px;
      height: 35px;
      background-color: transparent; }
      .footer_area .single_widget_area .mailing_form form input:focus {
        border-bottom-color: #ffffff;
        color: #ffffff; }
    .footer_area .single_widget_area .mailing_form form button {
      width: 30px;
      height: 35px;
      border: none;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.6);
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      z-index: 10; }
  .footer_area .single_widget_area .footer_social_area a {
    color: #ffffff;
    display: inline-block;
    padding: 0 10px;
    font-size: 16px; }
    .mailing_form form input{
      width:80% !important;
    }

    .footer_menu li {
      margin: 10px !important;
  }

    .contact-area {
      position: relative;
      z-index: 1;
      flex-wrap: wrap;
  }
  .contact-area .google-map {
      flex: 0 0 60%;
      max-width: 60%;
      width: 60%;
  }
  @media (max-width: $breakpoint-md) {
      .contact-area .google-map {
          flex: 0 0 55%;
          max-width: 55%;
          width: 55%;
      }
  }
  @media (max-width: $breakpoint-xs) {
      .contact-area .google-map {
          flex: 0 0 100%;
          max-width: 100%;
          width: 100%;
      }
      .contact-area .google-map #googleMap {
          width: 100%;
          height: 685px;
      }
      @media (max-width: $breakpoint-xs) {
          .contact-area .google-map #googleMap {
              height: 400px;
          }
      }
  }
  .contact-area .contact-info {
      flex: 0 0 40%;
      max-width: 40%;
      width: 40%;
      padding: 50px 5%;
  }
  @media (max-width: $breakpoint-md) {
      .contact-area .contact-info {
          flex: 0 0 45%;
          max-width: 45%;
          width: 45%;
          padding: 50px 3%;
      }
  }
  @media (max-width: $breakpoint-xs) {
      .contact-area .contact-info {
          flex: 0 0 100%;
          max-width: 100%;
          width: 100%;
          padding: 50px 5%;
      }
  }
  .contact-area .contact-info h2 {
      font-size: 30px;
      margin-bottom: 20px;
  }
  .contact-area .contact-info p {
      font-size: 16px;
      font-weight: 300;
  }
  .contact-area .contact-info .contact-address p {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 10px;
  }
  .contact-area .contact-info .contact-address p span {
      font-weight: 600;
      color: #000000;
      width: 100px;
      display: inline-block;
      text-transform: uppercase;
  }
  .contact-area .contact-info .contact-address p:last-child {
      margin-top: 100px;
  }
  .contact-area .contact-info .contact-address p:last-child a {
      font-size: 14px;
      font-weight: 300;
  }
  .contact-area .contact-info .contact-address p:last-child a:hover {
      color: #ffffff;
  }
  
  .login{
    position: relative;
    left: 24%;
  }
  .form{
    position:absolute;
    top: 20%;
    left:36%;
  }



  .form-suit{
    position:absolute !important;
    top:17%;
  }

  .form-apt{
    position:absolute !important;
    top:12%;
  }
  /* .form [input]{
    position:relative;
    left:10%;
  } */


  @media (max-width: 768px) {
    .mobile-menu-button {
      display: block;
      position: relative !important;
      left: 22% !important;
    }
  
    #mobile-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px; 
      right: 0;
      left: 0;
      background-color: white;
      z-index: 999;
      border-top: 1px solid #ccc;
    }
  
    #mobile-menu.active {
      display: flex;
    }
  
    .nav-menu-wrapper{
      display:none;
    }
  
    .cta--text h6{
      font-size: smaller !important;
    }
  
    .cta--text h3{
      font-size: medium !important;
    }
  
  }
    

@media (max-width: 500px){
  .banner-desc, .abt-desc{
    position: relative;
    top: 20%;
  }
  .spaced_title{
    font-size: large !important;
  }
  .gold_title{
    font-size:xx-large;
    line-height: normal;
  }
  
  .logo{
    position: relative;
    right: 32%;
  }

  .login{
    position: relative;
    left: 7%;
  }

  .consult{
    flex-direction: column-reverse;
  }

  .consult .imgbox{
    position: relative !important;
    right: 14% !important;
  }

  .spaced{
    position: relative;
    left: 10%;
  }

  /* .up{
    margin-top: -10% !important;
  } */
}


