@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
    color: #000000;
    background-color: #ffffff;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: Georgia, Times, serif;
}

@media (max-width: breakpoint-xs) {
    body {
        margin-top: 80px;
    }
}

/* .love{
  color: #ffffff !important;
} */






.heading-section h1.big {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  font-weight: 900; }
  .heading-section h1.big.big-2 {
    right: 0; }
.heading-section h2 {
  font-size: 50px;
  font-weight: 700; }
  .heading-section h2 span {
    font-weight: 400; }

    .slider-container {
      display: flex;
      overflow: hidden;
    }
    
    .slider-content {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
    
    .slider-item {
      min-width: 100%;
      flex-shrink: 0;
    }
    
    
    
    
    
    




.nav-menu-wrapper{
  position: relative;
  right:10%;
}

.banner{
  height: 80vh;
  background-image: url(../../public/assets/images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 10%;
}

.banner-desc{
  position: relative;
  top: 40%;
  left: 14%;
}

.abt{
  height: 80vh;
  background-image: url(../../public/assets/images/abt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 10%;
}

.abt-desc{
  position: relative;
  top: 40%;
  left: 14%;
  color: #ffffff;
}

.serv{
  height: 80vh;
  background-image: url(../../public/assets/images/tailor.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-position-x: 40%;
}

.collection{
  height: 40vh;
  background-image: url(../../public/assets/images/a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-position-x: 40%;
}

.quest{
  background-image: url(../../public/assets/images/faq.jpg) !important;
}

.deals{
  background-image: url(../../public/assets/images/deals.jpg) !important;
}

.line{
  text-decoration: underline;
}

.consult{
  position: relative;
  left:7%;
}



.single-cat{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 240px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-cat {
      height: 180px; } }
  @media only screen and (max-width: 767px) {
    .single-cat {
      height: 180px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-cat {
      margin-bottom: 30px; } }
  .single-cat:after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10; }
  .single-cat .cat-content a {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #352208;
    letter-spacing: 1px;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-cat .cat-content a {
        font-size: 20px; } }
    @media only screen and (max-width: 767px) {
      .single_cat_area .cat-content a {
        font-size: 18px; } }
  .single-cat:hover .cat-content a {
    color: #CD8F2C; }

.single-cat-1{
  background-image: url(../../public/assets/images/designs.jpg);
}

.single-cat-2{
  background-image: url(../../public/assets/images/footwears.jpg);
}

.single-cat-3{
  background-image: url(../../public/assets/images/accesories.jpg);
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

  .cta-area {
    position: relative;
    z-index: 1; }
    .cta-area .cta-content {
      width: 100%;
      height: 550px; }
      @media only screen and (max-width: 767px) {
        .cta-area .cta-content {
          height: 400px; } }
      .cta-area .cta-content h6 {
        font-size: 24px;
        color: #39A9DB;
        margin-bottom: 10px; }
      .cta-area .cta-content h2 {
        font-size: 60px;
        color: #352208;
        margin-bottom: 50px; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .cta-area .cta-content h2 {
            font-size: 48px; } }
        @media only screen and (max-width: 767px) {
          .cta-area .cta-content h2 {
            font-size: 30px; } }
      .cta-area .cta-content .cta--text {
        padding-right: 150px; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .cta-area .cta-content .cta--text {
            padding-right: 50px; } }
        @media only screen and (max-width: 767px) {
          .cta-area .cta-content .cta--text {
            padding-right: 0; } }

    .cta-content{
      background-image: url(../../public/assets/images/custom.jpg);
      background-size:55%;
      background-position: left;
      width: 80% !important;
      position: relative;
      left:16%;
    }

.single-product-wrapper {
position: relative;
z-index: 1;
margin-bottom: 50px;
overflow: hidden;
background-color: #ffffff; }
.single-product-wrapper .product-img {
position: relative;
z-index: 1;
overflow: hidden; }
.single-product-wrapper .product-img img {
  width: 100%;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
.single-product-wrapper .product-img .hover-img {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden; }
.single-product-wrapper .product-img .product-badge {
  height: 25px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 12px;
  padding: 0 10px;
  display: inline-block;
  line-height: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10; }
  .single-product-wrapper .product-img .product-badge.offer-badge {
    background-color: #dc0345; }
  .single-product-wrapper .product-img .product-badge.new-badge {
    background-color: #0315ff; }
.single-product-wrapper .product-img .product-favourite a {
  position: absolute;
  height: 25px;
  width: 45px;
  font-size: 14px;
  color: #ccc;
  top: 20px;
  right: 20px;
  z-index: 10;
  line-height: 25px;
  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  text-align: center;
  opacity: 0;
  visibility: hidden; }
  .single-product-wrapper .product-img .product-favourite a.active {
    opacity: 1;
    visibility: visible; }
.single-product-wrapper .product-description {
position: relative;
z-index: 1;
padding-top: 25px; }
.single-product-wrapper .product-description span {
  font-size: 10px;
  text-transform: uppercase;
  color: #787878;
  margin-bottom: 15px;
  letter-spacing: 0.75px;
  font-weight: 600; }
.single-product-wrapper .product-description h6 {
  color: #222222;
  margin-bottom: 5px; }
.single-product-wrapper .product-description p {
  margin-bottom: 0;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #000000; }
  .single-product-wrapper .product-description p span {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #aaaaaa;
    margin-right: 10px;
    text-decoration: line-through; }
.single-product-wrapper .product-description .hover-content {
  position: absolute;
  width: calc(100% - 40px);
  top: -70px;
  left: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  .single-product-wrapper .product-description .hover-content .essence-btn {
    width: 100%; }
.single-product-wrapper .favme {
cursor: pointer;
color: #ccc; }
.single-product-wrapper .favme.active {
  color: #dc0345 !important; }
.single-product-wrapper .favme.is_animating {
  animation: favme-anime .5s; }
.single-product-wrapper:hover .product-img .hover-img {
opacity: 1;
visibility: visible; }
.single-product-wrapper:hover .product-img .product-favourite a {
opacity: 1;
visibility: visible; }
.single-product-wrapper:hover .hover-content {
opacity: 1;
visibility: visible; }

@keyframes favme-anime {
0% {
opacity: 1;
font-size: 14px;
-webkit-text-stroke-color: transparent; }
25% {
opacity: .6;
color: #ffffff;
font-size: 15px;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #dc0345; }
75% {
opacity: .6;
color: #ffffff;
font-size: 15px;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #dc0345; }
100% {
opacity: 1;
font-size: 14px;
-webkit-text-stroke-color: transparent; } }
.pagination {
position: relative;
z-index: 1; }
.pagination .page-item .page-link {
width: 40px;
height: 40px;
border: 1px solid #ebebeb;
font-size: 12px;
font-weight: 600;
line-height: 38px;
padding: 0;
text-align: center;
color: #787878; }
.pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus {
  color: #0315ff;
  box-shadow: none; }
.pagination .page-item:first-child {
margin-right: 15px; }
.pagination .page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
.pagination .page-item:last-child {
margin-left: 15px; }
.pagination .page-item:last-child .page-link {
  margin-left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }


  .single_product_details_area {
    position: relative;
    z-index: 100;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .single_product_details_area .single_product_thumb,
    .single_product_details_area .single_product_desc {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      width: 50%;
      position: relative;
      z-index: 1; }
      @media only screen and (max-width: 767px) {
        .single_product_details_area .single_product_thumb,
        .single_product_details_area .single_product_desc {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          width: 100%; } }
    .single_product_details_area .product_thumbnail_slides {
      position: relative;
      z-index: 1; }
      .single_product_details_area .product_thumbnail_slides .owl-prev,
      .single_product_details_area .product_thumbnail_slides .owl-next {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        top: 50%;
        z-index: 20;
        left: 30px;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        padding: 5px;
        opacity: 0.4; }
        .single_product_details_area .product_thumbnail_slides .owl-prev:hover,
        .single_product_details_area .product_thumbnail_slides .owl-next:hover {
          opacity: 1; }
      .single_product_details_area .product_thumbnail_slides .owl-next {
        left: auto;
        right: 30px; }
    .single_product_details_area .single_product_desc {
      position: relative;
      z-index: 1;
      padding: 50px 5%; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single_product_details_area .single_product_desc {
          padding: 30px 4%; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single_product_details_area .single_product_desc {
          padding: 30px 3%; } }
      .single_product_details_area .single_product_desc span {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: #787878;
        margin-bottom: 10px;
        display: block; }
      .single_product_details_area .single_product_desc a > h2 {
        font-size: 30px;
        display: block;
        margin-bottom: 10px; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .single_product_details_area .single_product_desc a > h2 {
            font-size: 24px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .single_product_details_area .single_product_desc a > h2 {
            font-size: 20px; } }
      .single_product_details_area .single_product_desc .product-price {
        margin-bottom: 0;
        font-family: "Ubuntu", sans-serif;
        font-size: 24px;
        color: #dc0345;
        font-weight: 700; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .single_product_details_area .single_product_desc .product-price {
            font-size: 20px; } }
        .single_product_details_area .single_product_desc .product-price span {
          display: inline-block;
          font-family: "Ubuntu", sans-serif;
          font-size: 24px;
          color: #787878;
          font-weight: 700;
          text-decoration: line-through;
          margin-right: 15px; }
      .single_product_details_area .single_product_desc .product-desc {
        font-size: 16px; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .single_product_details_area .single_product_desc .product-desc {
            font-size: 14px; } }
      .single_product_details_area .single_product_desc .nice-select {
        position: relative;
        z-index: 100;
        border: 1px solid #ebebeb;
        border-radius: 0;
        font-size: 14px;
        font-weight: 500;
        height: 60px;
        line-height: 60;
        margin: 0;
        text-transform: uppercase;
        width: 220px; }
        .single_product_details_area .single_product_desc .nice-select .current {
          line-height: 60px; }
        .single_product_details_area .single_product_desc .nice-select .list {
          background-color: #f6f6f6;
          border-radius: 0;
          border: none;
          width: 100%; }
          .single_product_details_area .single_product_desc .nice-select .list .option.selected {
            color: #0315ff; }
      .single_product_details_area .single_product_desc .cart-fav-box .favme {
        cursor: pointer;
        color: #ccc;
        font-size: 24px; }
        .single_product_details_area .single_product_desc .cart-fav-box .favme.active {
          color: #dc0345 !important; }
  

.brands-area {
  position: relative;
  z-index: 1;
  background-color: #f5f7f9;
  padding: 100px 5%; }
  @media only screen and (max-width: 767px) {
    .brands-area {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 100px 5% 70px; } }
  @media only screen and (max-width: 767px) {
    .brands-area .single-brands-logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      width: 33.33333%;
      max-width: 33.33333%; } }
  .brands-area .single-brands-logo img {
    max-width: 120px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .brands-area .single-brands-logo img {
        max-width: 90px; } }
    @media only screen and (max-width: 767px) {
      .brands-area .single-brands-logo img {
        max-width: 80px;
        margin-bottom: 30px; } }


.footer_area {
  position: relative;
  z-index: 1;
  background-color: #352208;
  padding: 70px 0 60px; }
  .footer_area .single_widget_area .footer_menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer_area .single_widget_area .footer_menu ul li a {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6);
      display: block;
      font-weight: 400;
      font-family: "Ubuntu", sans-serif;
      padding: 0 10px;
      text-transform: capitalize; }
      .footer_area .single_widget_area .footer_menu ul li a:hover, .footer_area .single_widget_area .footer_menu ul li a:focus {
        color: #ffffff; }
  .footer_area .single_widget_area .footer_widget_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer_area .single_widget_area .footer_widget_menu li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 50%; }
      .footer_area .single_widget_area .footer_widget_menu li a {
        display: block;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
        display: block;
        font-weight: 400;
        margin-bottom: 10px; }
        .footer_area .single_widget_area .footer_widget_menu li a:hover, .footer_area .single_widget_area .footer_widget_menu li a:focus {
          color: #ffffff; }
  .footer_area .single_widget_area .footer_heading h6 {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0; }
  .footer_area .single_widget_area .mailing_form form {
    position: relative;
    z-index: 1;
    width: 270px; }
    @media only screen and (max-width: 767px) {
      .footer_area .single_widget_area .mailing_form form {
        margin-bottom: 50px; } }
    .footer_area .single_widget_area .mailing_form form input {
      width: 100%;
      border: none;
      border-bottom: 2px solid rgba(255, 255, 255, 0.6);
      color: rgba(255, 255, 255, 0.6);
      font-size: 12px;
      height: 35px;
      background-color: transparent; }
      .footer_area .single_widget_area .mailing_form form input:focus {
        border-bottom-color: #ffffff;
        color: #ffffff; }
    .footer_area .single_widget_area .mailing_form form button {
      width: 30px;
      height: 35px;
      border: none;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.6);
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      z-index: 10; }
  .footer_area .single_widget_area .footer_social_area a {
    color: #ffffff;
    display: inline-block;
    padding: 0 10px;
    font-size: 16px; }
    .mailing_form form input{
      width:80% !important;
    }

    .footer_menu li {
      margin: 10px !important;
  }

    .contact-area {
      position: relative;
      z-index: 1;
      flex-wrap: wrap;
  }
  .contact-area .google-map {
      flex: 0 0 60%;
      max-width: 60%;
      width: 60%;
  }
  @media (max-width: $breakpoint-md) {
      .contact-area .google-map {
          flex: 0 0 55%;
          max-width: 55%;
          width: 55%;
      }
  }
  @media (max-width: $breakpoint-xs) {
      .contact-area .google-map {
          flex: 0 0 100%;
          max-width: 100%;
          width: 100%;
      }
      .contact-area .google-map #googleMap {
          width: 100%;
          height: 685px;
      }
      @media (max-width: $breakpoint-xs) {
          .contact-area .google-map #googleMap {
              height: 400px;
          }
      }
  }
  .contact-area .contact-info {
      flex: 0 0 40%;
      max-width: 40%;
      width: 40%;
      padding: 50px 5%;
  }
  @media (max-width: $breakpoint-md) {
      .contact-area .contact-info {
          flex: 0 0 45%;
          max-width: 45%;
          width: 45%;
          padding: 50px 3%;
      }
  }
  @media (max-width: $breakpoint-xs) {
      .contact-area .contact-info {
          flex: 0 0 100%;
          max-width: 100%;
          width: 100%;
          padding: 50px 5%;
      }
  }
  .contact-area .contact-info h2 {
      font-size: 30px;
      margin-bottom: 20px;
  }
  .contact-area .contact-info p {
      font-size: 16px;
      font-weight: 300;
  }
  .contact-area .contact-info .contact-address p {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 10px;
  }
  .contact-area .contact-info .contact-address p span {
      font-weight: 600;
      color: #000000;
      width: 100px;
      display: inline-block;
      text-transform: uppercase;
  }
  .contact-area .contact-info .contact-address p:last-child {
      margin-top: 100px;
  }
  .contact-area .contact-info .contact-address p:last-child a {
      font-size: 14px;
      font-weight: 300;
  }
  .contact-area .contact-info .contact-address p:last-child a:hover {
      color: #ffffff;
  }
  
  
  .form{
    position:absolute;
    top: 20%;
    left:36%;
  }

  .login{
    position:absolute !important;
    top:32%;
  }

  .form-suit{
    position:absolute !important;
    top:17%;
  }

  .form-apt{
    position:absolute !important;
    top:12%;
  }
  /* .form [input]{
    position:relative;
    left:10%;
  } */